Source: lnf-theme-united
Section: kde
Priority: optional
Maintainer: neon <rohan@garg.io>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.6
Homepage: https://store.kde.org/p/1167950/

Package: lnf-theme-united
Architecture: all
Depends: dmz-cursor-theme,
         ${misc:Depends}
Description: united LNF theme for Plasma 5
 This package contains the United LNF theme
